	.content-right{
		width: 85%;
		float: right;
		margin-left: 20px;
		margin-right: 5%;
	}

.column-header{
	float: left;
	font-size: 25px;
	font-style: bold;
}
.menu-img{
	display: none;
}
.margin-settings-icon{
	margin-top: 20px;
}
.settings-container {
  position: relative;
  float: right;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.14);
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}
/*.row.header{
	margin-top: 40px !important;
	width: 85%;
  float: right;
  display: inline-block;
  margin-left: 50px;
  margin-right: 50px;
}*/
.text-search{
	float: right;
}
.header-text-color-1{
  color: #4A4A4A;
}
.header-text-color-2{
	color: #3876AE;
}
.align-header-content{
	margin-top: 2px;
}
.user-image{
	width: 45px;
    height: 45px;
    display: inline-block;
    background-color: #0b9fad;
    border-radius: 100%;
    text-align: center;
    padding-top: 13px;
    margin-left: 10px;
    margin-right: 10px;
    color: #ffffff;
}
.btn-default:hover{
	color: inherit;
}

@media(max-width: 767px){
	.text-search{
		width: 72%;
	}
	.header-child{
		margin-top: 10px !important;
		font-size: 15px !important;
	}
	.header{
		margin-top: 1px !important;
		height: 48px !important;
		box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.21);
	}
	.menu-img{
		height: 14px !important;
		width: 20px !important;
		/*margin-left: 5px !important;*/
		display: inline-block;
	}
	.logo-blue{
		height: 24px !important;
		width: auto !important;
		margin-left: 40px !important;
	}
	.content-right{
		margin-left: 0px;
		margin-right: 0px;
	}
}	

@media (max-width: 769px) {
	.text-search {
		.settigs-icon {
			img {
		    position: absolute;
		    right: 17px;
		    top: -25px;
			}
		}
	}
	.margin-settings-icon{
	    margin-top: 10px;
    }
	.header-margin-top{
		margin-top: 10px;
	}
}