.content-left{
	position: absolute;
	width: 5%;
	float: left;
	height: 640px;
	text-align: center;
	top: 20%;
	overflow-y: hidden;
	border-top-right-radius: 15px;
	/* Style for sidebar in public pages */
	max-width: 1780px;
	margin: 0 auto;
	margin-left: 0px;
	margin-right: 0px;
}
.navigation{
	padding-top: 15px;
	margin-right: 3px;
}
.sidebar-background-color{
	/*background-image:linear-gradient(0deg, rgba(48, 59, 112,0.8) 45%, rgb(185, 146, 146) 145%);*/
	border-top-right-radius: 25px;
	margin-left: 0px;
	margin-right: 0px;
	/*transform-origin: bottom-left;
	transform: skew(35deg,0deg);*/
	/*border-bottom-right-radius: 200px;*/
}
.sidebar-background-color:before{
	content: " ";
    display: block;
    width: 116%;
    height: 100%;
    font-size: 14px;
    margin: 0px 0 0 -15px;
    transform-origin: left bottom;
    -webkit-transform: skewY(-20deg);
    -moz-transform: skewY(-20deg);
    -ms-transform: skewY(-20deg);
    -o-transform: skewY(-20deg);
    transform: skewY(-20deg);
    border-bottom-right-radius: 35px;
    position: absolute;
}
.notification-label{
	padding: 1px 8px;
	color: #ffffff;
	position: absolute;
	border-radius: 100%;
}
.align-notifications-icon{
	padding-right: 10px !important;
}
.sidebar-mobile-background{
	border-top-right-radius: 0px;	
	font-size: 14px;
}
.sidebar-mobile-background:before{
    content: " ";
    display: block;
    width: 100%;
    height: 134%;
    font-size: 14px;
    margin: 0px 0 0 -15px;
    transform-origin: left bottom;
    -webkit-transform: skewY(-24deg);
    -moz-transform: skewY(-24deg);
    -ms-transform: skewY(-24deg);
    -o-transform: skewY(-24deg);
    transform: skewY(-24deg);
    border-bottom-right-radius: 41px;
    position: absolute;
}
.primary-border-color-sidebar-header{
	position: relative;
	padding-top: 5px;
	margin: 0 auto;
    max-width: 1780px;
    padding-left: 20px;
    padding-right: 20px;
}
.sidebar-headings{
	position: relative;
	margin: 0 auto;
    max-width: 1780px;
    margin-left: 15px;
}
.sidebar-mobile-background {
     overflow-y: visible;
}
.content-left-mobile{
    height: 100vh;
    margin: 0 auto;
    max-width: 1780px;
}
.layout-sidebar{
	background-image: linear-gradient(164deg, #9b9797cc, #dbd6d6e6);
}
.sidebar-screen-background{
	z-index: 10;
	position: fixed; 
    top: 0; 
    right: 0; 
    bottom: 0; 
    left: 0;
}
.sidebar-header-shadow{
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.09);
}
.color-sidebar-mobile{
    color: #ffffff;
	margin-top: 2px;
	font-size: 14px;
	padding:5px;
}
.color-sidebar{
	color: #ffffff;
	margin-top: 2px;
	font-size: 11px;
	padding:5px;
	position: relative;
}
.sidebar-icon{
	position: relative;
}
.sidebar-disabled-background{
	pointer-events: none;
	cursor: none !important;
}
.disable-sidebar-option{
	color: #ffffff80 !important;
	margin-top: 2px;
	font-size: 11px;
	padding:5px;
	position: relative;
}
.disable-sidebar-option-mobile{
	color: #ffffff33 !important;
	margin-top: 2px;
	font-size: 14px;
	padding:5px;
}

@media(min-width: 993px) and (max-width: 1040px) {
	.content-left{
		width: 8.5%;
	}
}

@media(min-width: 768px) and (max-width: 992px) {
	.content-left{
		width: 8%;
	}
	.notification-label{
	    padding: 1px 5px;
    }
}
@media (min-width: 1040px) and (max-width: 1480px){
	.content-left{
		width: 6%;
	}
	.align-notifications-icon{
	    padding-right: 17px !important;
    }
    .notification-label{
	    padding: 1px 5px;
    }
}

@media(max-width: 767px) {
	.content-left{
		z-index: 1000 !important;
		width: 224px;
		text-align: left;
	}
	.navigation{
		padding-top: 25px;
	}
	.sidebar-icon{
		display: inline-block !important;
		margin-left: 20px;
		margin-right: 10px;
	}
	.sidebar-background-color{
		/*background-image:linear-gradient(0deg, rgb(48, 59, 112) 45%, rgb(185, 146, 146) 145%);*/
		height: 70vh !important;
	}
	.sidebar-label{
		display: inline-block !important;
		font-size: 14px;
	}
}
@media (min-width: 768px) and (max-width: 1200px){
	.navigation{
	   margin-right: 5px;
    }
}
