.notifications-container{
	.room-details{
		color: #000000;
		text-decoration: underline;
	}
	.event-details{
		color: #b67a00;
	}
	.content-right{
        width: 80%;
	    float: right;
	    margin-left: 20px;
	    margin-right: 5%;
	}
	.oval-copy {
		display: flex;
	    width: 14px;
	    height: 14px;
	    border-radius: 12px;
	    margin-left: 5px;
	    margin-top: 35px;
	    object-fit: contain;
	    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16);
	    background-color: #b40303;
	}
	.main-content{
  	bottom: 0;
		background: rgba(229,229,230,0.5);
    background-image: linear-gradient(358deg, #f9f9f9, #f1f1f1);
	}
	.search-icon{
		margin-top: 2px;
		.injected-svg{
			width: 15px;
		}
	}
	.empty-noti-msg {
		text-align: center;
		padding-top: 40px;
		padding-bottom: 25px;
		background: white;
	}
	.back-button{
		margin-top: 20px;
		margin-left: -45px;
		font-size: 15px;
		border-width: 0px;
	}
	.list-event{
    	margin-bottom: 10px;
    	vertical-align: middle;
    	margin-left: 10px;
    	margin-right: 10px;
    	margin-top: 10px;
    	border: 0px solid #ffffff;
    	border-radius: 2px;
    	display: flex;
    	vertical-align: middle;
	}
	.noti-user-image {
		margin-right: 10px;
	    color: white;
	    border-radius: 100%;
	    position: absolute;
	    left: 18px;
	}
	.user-role {
		color: #3876AE;
	    padding: 10px;
	    position: absolute;
	}
	.align-image{
        padding-top: 9px;
	}

	.align-text{
		padding-top: 10px;
	}

	.read-notification {
		visibility: hidden;
		margin-left: 18px;
	}
	.user-name {
		width: 40px;
	    height: 40px;
	    display: inline-block;
	    background-color: #0b9fad;
	    border-radius: 100%;
	    text-align: center;
	    color: #ffffff;
	}
	.display-contents{
	    width: 100%;
	    display: flex;    	
	    background-image: linear-gradient(to top, #f8f6f6, #ffffff);
	    margin-left: 15px;
    	padding: 10px 0px;
    	min-width: auto;
    	vertical-align: middle;
    	box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.11);
    	cursor: pointer;
	}
	.display-contents-viewed{
		width: 100%;
	    display: flex;    	
	    margin-left: 15px;
    	padding: 10px 0px;
    	min-width: auto;
    	vertical-align: middle;
    	box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.11);
		background-image: linear-gradient(to bottom, #f0f0f0, #eae6e6);
		cursor: pointer;
	}
	.column-date{
		height: 100%;
	}
	.header-title{
        font-size: 28px;
	}
	.border-search-bar{
		border-radius: 6px;
	}
	.find-text{
		width: 100%;
	    border-radius: 6px;
		text-align: center;
		border: 0px;
		padding-top: 6px;
		padding-bottom: 6px;
		outline: none;
	}
	.site-footer{
		bottom: 0;
	}
	.user-details{
		margin-left: 0px !important;
	}
	.user-icon-size{
		font-size: 1.5em !important;
    	left: 10px;
    	/*padding-top: 8px !important;*/
	}
	@media (max-width: 767px){
		.content-right{
		   margin-right: 0px;
		   margin-left: 0px;
		   float: none;
		   width: 100%;
		}
	}
	@media (min-width: 768px) and (max-width: 992px){
		.content-right{
			margin-right: 0px;
			width: 90%;
		}
	}
	@media (max-width: 992px){
		.column-header{
			margin-top: 20px;
			margin-left: 20px;
		}
        .header-title{
            font-size: 18px;
	    }
	    .align-event{
	    	margin-top: 5px;
	    }
	}
	@media (max-width: 1040px){
		.back-button{
        	margin-left: 0px;
        }
	}
}