.texture-info-container {
	width: 60%;
  border-radius: 12px;
  box-shadow: 7px 9px 25px 0 rgba(0, 0, 0, 0.15);
  background: #fcfcfc;
  position: absolute;
  top: 100px;
  .texture-info-wrapper {
  	padding: 24px;
  }
  .texture-header {
  	border-bottom: 1px solid rgba(35, 27, 85, 0.8);
  	.furniture-name {
	    font-size: 22px;
  		font-weight: bold;
  		padding: 0px;
  	}
  	.about {
  		font-size: 14px;
  		bottom: -6px;
  		p {
  			padding-bottom: 10px;
  		}
  	}
  }
	.available-texture {
  	border-bottom: transparent;
	}
	.texture-info {
		.texture-image, .texture-info-msg {
			padding: 0px;
			height: 284px;
    	overflow: auto;
		}
		.texture-info-msg {
			p {
				margin-top: 7px;
			}
		}
		.available-colors-container {
			display: inline-block;
	    padding: 20px;
	    padding-bottom: 0px;
	    p {
	    	text-align: center;
	    }
	    .chair-cloth-container {
  	    border: 1px solid #231b55;
		    border-radius: 100%;
		    width: 92px;
		    height: 92px;
	    }
	    .available-colors {
	    	border-radius: 100%;
				width: 90px;
			  height: 90px;
		    border: 2px solid #fcfcfc;
			  background-image: linear-gradient(141deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.32));
			}
		}
		.available-finishing-container {
	    display: inline-block;
	    padding: 18px;
	    padding-bottom: 0px;
     	p {
	    	margin-top: 0px;
	    	text-align: center;
	    }
		}
		.available-finishing {
			border-radius: 54px;
			border: 1px solid #231b55;
	    img {
  	    width: 90px;
		    height: 90px;
		    border-radius: 54px;
		    border: 2px solid #fcfcfc;
	    }
		}
	}
  button {
    float: right;
    padding: 0px;
    background: transparent;
    border: transparent;
    font-size: 18px;
  }
}

/* Style for tooltip */
.furniture-tooltip-container {
  z-index: 1001;
	.minwidth {
    min-width: 425px;
	}
	.tooltip-arrow {
		position: absolute;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
  	border-top: 12px solid #fcfcfc;
	}
	.tooltip-container {
		position: absolute;
	  border-radius: 7px;
	  background-color: #fcfcfc;
	  /*box-shadow: 3px 3px 18px 0 rgba(0, 0, 0, 0.26);*/
		button, .btn-default {
			background: transparent;
			border: transparent;
		}
		.tooltip-wrapper {
			.tooltip-info-rotate {
				button {
					padding: 0;
					img {
						padding: 3px;
					}
				}
				.clockwise {
					padding: 3px;
					svg{
                        -webkit-transform: scaleX(-1);
    					transform: scaleX(-1);
					}
				}
			}
		  button {
		    padding: 10px 0px;
		    .tooltip-info {
			    padding: 0px 20px;
			  }
		  	&:active {
					border-top: 2px soild #231b55;
		  	}
		  } 
		}
		.close-button {
			position: absolute;
			bottom: 81px;
			right: 1px;
			button {
		    font-size: 12px;
		    padding: 0px 3px;
		    border-radius: 19px;
            opacity: 1; 
			}
			button.close-3d-icon {
			color: #fcfcfc;
			}
			button.close-2d-icon {
			color: #231b55;
			background: #fcfcfc;
		    border: 1px solid #fcfcfc;
			}
		}
	}
}
@media(min-width: 768px) and (max-width: 992px){
	.texture-info-container{
		width: 80%;
	}
}

@media(max-width: 767px){
	.texture-info-container {
	width: 100%;
  border-radius: 12px;
  box-shadow: 7px 9px 25px 0 rgba(0, 0, 0, 0.15);
  background: #fcfcfc;
  position: absolute;
  top: 65px;
  max-height: 85vh !important;
  overflow-y: auto !important;
	}
}
