.btn, .btn-default {
	&:active {
		&:focus {
			outline: none;
		}
	}
}
#scene-load-progress {
	width: 100%;
	z-index: 1;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0.8;
}
.drag-selection-3d {
	position: absolute;
	background: rgba(0, 0, 255, 0.5);
	border: 1px solid #0000ff;
	width: 50px;
	height: 50px;
	z-index: 1;
	visibility: hidden;
}
progress[value] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
}
progress[value]::-webkit-progress-value {
  background: rgba(0, 0, 0, 0.8);
}
progress[value]::-moz-progress-bar {
	background-image:
  -moz-linear-gradient(
    left, 
    rgba(0, 0, 0, 0.8), 
    rgba(0, 0, 0, 0.8)
  );
  border-radius: 2px; 
 }
.layout-header-tab-container {
	.layout-header {
		position: fixed;
		width: 100%;
		z-index: 1;
	}
	#scene-container {
		width: 100%;
		height: 100vh;
	}
	#dollhouse-view-btn {
		/*position: absolute;
    top: 91vh;
    left: 250px;*/
    border: 0;
    img {
    	width: 95px;
    }
	}
	#dollhouse-view-btn.gray-bg-btn {
		background: #686868;
		border-radius: 37px;
		padding: 4px 1px;
		/* bottom: 22px; */
		margin-left: 15px;

    img {
    	width: 86px;
    }
	}
	#full-view-btn {
		position: absolute;
    top: 50px;
    left: 100px;
    border-radius: 73px;
    img {
    	padding: 7px;
    }
    span {
    	text-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
	    font-size: 16px;
	    display: inline-block;
	    max-width: 188px;
	    white-space: pre-line;
	    opacity: 0.9;
	    padding-right: 10px;
	    vertical-align: middle;
	    font-weight: normal;
    }
	}
	#scene-2d-container {
	/*position: absolute;
    left: 60px;
    top: 88vh;*/
    border: 2px solid #fcfcfc;
    border-radius: 36px;
    &:active {
    	box-shadow: none;
    }
		img {
			width: 40px;
  			border-radius: 68px;
		}
	} 
	#scene-2d-container.gray-bg-btn {
		&:active, &:focus {
    	background-color: #686868;
    }
	}
	.zoom-slider {
    transform: rotate(270deg);
	}
	/*.zoom-slider-container {
    transform: rotate(270deg);
  	width: auto;
    position: absolute;
    top: 100px;
    left: 100px;
    .zoom-plus {
    	position: absolute;
	    top: 15px;
	    left: 144px;
	    border: transparent;
    }
    .zoom-minus {
	    top: 14px;
	    left: -45px;
	    position: absolute;
	    border: transparent;
    }
    .select {
    	position: absolute;
	    left: -92px;
	    top: 14px;
	    padding: 4px;
	    img {
	    	width: 30px;
	    }
    }
    .ruler {
	    position: absolute;
	    left: -146px;
	    padding: 5px;
	    top: 13px;
	    img {
	    	width: 30px;
	    }
    }
    .drag {
	    position: absolute;
	    left: -202px;
	    top: 13px;
	    transform: rotate(90deg);
	    padding: 6px;
    }
   	.zoom-plus, .zoom-minus {
   		&:focus, &:active, &:hover {
   			border: transparent;
		    background: transparent;
    		box-shadow: none;
   		}
   	}
	}*/
	.zoom-slider-container {
    position: absolute;
    top: 136px;
    left: -60px;
    img {
    	width: 30px;
    }
    .zoom-slider {
      position: absolute;
	    right: -139px;
	    top: 89px;
    	transform: rotate(270deg);
    }
    button {
	    padding: 3px;
      margin-top: 10px;
    }
    .zoom-plus-container {
	    position: absolute;
   	 	left: 65px;
    }
    .zoom-minus-container {
    	position: absolute;
	    top: 152px;
    	left: 65px;
    }
    .selection-button-container {
    	position: absolute;
	    left: 61px;
	    top: 167px;
    }
    .zoom-plus, .zoom-minus {
			border: transparent;
			margin-top: 0px;
    }
	}
	input[type=range] {
	  -webkit-appearance: none;
	  appearance: none;
	 /* width: 3px;
	  margin: 29.8px 0;*/
	}
	input[type=range]:focus {
	  outline: none;
	}
	input[type=range]::-webkit-slider-runnable-track {
		-webkit-appearance: none;
	  width: 100%;
	  height: 1px;
	  cursor: pointer;
	  background: #231b55;
	}
	input[type=range]::-webkit-slider-thumb {
	  height: 15px;
	  width: 15px;
	  border-radius: 40px;
	  background: #231b55;
	  cursor: pointer;
	  -webkit-appearance: none;
	  margin-top: -7px;
	}
	input[type=range]::-moz-range-track {
	 	width: 100%;
	  height: 1px;
	  cursor: pointer;
	  left: 20px;
	  background: #231b55;
	  left: 20px;
	}
	input::-ms-track {
	  width: 100%;
	  cursor: pointer;

	  /* Hides the slider so custom styles can be added */
	  background: transparent; 
	  border-color: transparent;
	  color: transparent;
	}

	input[type=range]::-ms-thumb {
		height: 15px;
	  width: 15px;
	  border-radius: 40px;
	  background: #231b55;
	  cursor: pointer;
	  -webkit-appearance: none;
	  margin-top: -7px;
	}

	input[type=range]::-ms-fill-lower {
		width: 100%;
	  height: 1px;
	  cursor: pointer;
	  background: #231b55;
	}

	input[type=range]::-ms-fill-upper {
		width: 100%;
	  height: 1px;
	  cursor: pointer;
	  background: #231b55;
	}


	input[type=range]::-moz-range-thumb {
	  /*box-shadow: 10px 5px 18px 0 rgba(0, 0, 0, 0.26);*/
	  height: 15px;
	  width: 15px;
	  border-radius: 40px;
	  background: #231b55;
	  cursor: pointer;
	  -webkit-appearance: none;
	  margin-top: -7px;
	}
	.close-floor-button {
		position: absolute;
		top: 0px;
		right: 50px;
		border: transparent;
		.close-icon {
	    font-size: 22px;
	    opacity: 0.8;
		}
	}
	.close-button {
		button {
			color: #fcfcfc;
			background: transparent;
			border: none;
			font-size: 20px;
			position: absolute;
	    top: 10px;
	    opacity: 0.75;
			&:hover, &:focus {
				background: transparent;
    		color: #fcfcfc;
    		outline: none;
			}
		}
	}
}

/* Layout Selection and Submit Request */

.layout-selection-container, .submit-tab-container {
  color: #fcfcfc;
  padding: 85px 20px 20px;
  margin: 0 auto;
  max-width: 1390px;
}

/* Style for the customize meeting room footer */

.summary-btn-div{
	text-align: center;
	margin-bottom: -20px;
	button{
		font-size: 21px;
		height: 42px;
		width: 279px;
		border-radius: 0px;
		background: #e6e6e6;
		border-top-left-radius:19px;
		border-top-right-radius:19px;
	}
	.fa-angle-up{
		font-size: 33px;
	}
}
.logo-section{
  position: absolute;
  bottom: 40px;
  left: 60px;
  color: white;
}
.chat-layout-selection{
	position: absolute;
	right: 24px;
	top: 0px;
	height: 45px;
}
.layout-footer-container {
	.layout-footer.row {
	  color: #fcfcfc;
	  padding: 25px 20px 0px 20px;
	  margin: 0 auto;
	  max-width: 1390px;
	  .summary-btn-div {
			margin-bottom: 0px;
	  }
	}
}
.layout_customize {
	text-align: center;
	.layout-footer.row {
		display: inline-block;
    position: absolute;
    z-index: 1;
    bottom: 0px;
    padding: 0px;
    margin-left: -137px;
    .line-transparent {
    	display: none;
    }
	  .summary-btn-div {
			margin-bottom: 0px;
			padding: 0px;
			button {
		    font-size: 20px;
		    height: 48px;
		    width: 225px;
			}
			.logo-section {
				display: none;
			}
			.fa-angle-up{
				font-size: 29px;
			}
	  }
	  .chat-layout-selection {
			display: none;
		}
	}
}
.event_summary {
  .layout-footer.row {
  	padding: 45px 20px;
  	.line-transparent{
  			display: none !important;
  		}
  	.summary-btn-div {
  		.summary-btn {
  			display: none;
  		}
  		.logo-section {
  			position: absolute;
		    top: 0px;
  		}
  	}
  }
}
.submit_layout {
	.layout-footer.row {
		.chat-layout-selection {
			display: none;
		}
	}
}
@media(max-width: 767px){
	.logo-section{
		bottom: 28px;
		left: 14px;
		img{
			display: block !important;
		}
	}
	.site-footer{
		.footer-menu-section{
			bottom: 42px;
			right: 0px;
			font-size: 12px;
			span{
				font-size: 12px;
				margin-right: 20px;
			}
		}
	}
	.matterport-footer{
		position: fixed !important;
		height: 11% !important;
		z-index:1000 !important;
		bottom: 0px !important;
		.logo-section{
			bottom: 9% !important;
			font-size: 12px !important;
		}
		.footer-menu-section{
			bottom: 40% !important;
		}
	}
	.layout-header-tab-container{
	    #scene-2d-container{
	      bottom: 35px !important;
	    }
  	}
  	#dollhouse-view-btn{
    	/*bottom: 32px !important;*/
  	}
}

/* Alignment with Sidebar */
@media (min-width: 992px) and (max-width: 1500px){
	.align-content-right{
        .layout-header-tab-container {
        	#full-view-btn{
        		position: absolute;
			    top: 50px;
			    left: 50px;
			    border-radius: 73px;
        	}
        }
	}
}