.daterangepicker {
	div.drp-buttons {
		display: none;
	}
	thead {
		th.month {
			text-transform: uppercase;
			font-size: 12px;
			color: #231b55;
		}
	}
	tbody {
		td.in-range {
			background: #eaeaea;
		}
		td.active {
			background: #4f4782;
			&:hover {
				background: #4f4782;
			}
		}
	}
}