.box-rfp{
	max-width: 1500px;
	margin: 0 auto;
}

label.terms-privacy {
	a.terms, a.privacy {
		text-decoration: underline !important;
	}
}

@media (max-width: 1500px) {
	.box-rfp{
		max-width: 1355px;
		margin: 0 auto;
	}
}
.fix-top-rfp-contact-box{
	margin-top: -21px;
}
.fix-center-rfp-additional-info{
  max-width: 1320px;
  margin: 0 auto;
  margin-left: 80px;
}
@media (max-width: 1500px) {
	.fix-center-rfp-additional-info{
		max-width: 1045px;
	}

}
.add-activity-span{
	transform: scale(0.9);
}
.fix-center-rfp-additional-info{
	margin-left: 7% !important;
	margin-right: 7% !important;
}

.meeting-room-wrapper{
		height: 78px;
		/*background: #ad0b3a;*/
		width: 120%;
		transform: scale(0.8);
		margin-left: -8%;
		margin-top: -9px;
		opacity: 0.85;
	  	box-shadow: 2px 6px 8px 1px rgba(0, 0, 0, 0.2);
	  /*background-image: linear-gradient(to bottom, #ad0b3a, #b99292);*/
		border-bottom-left-radius: 86px;
		&:before {
	    content: " ";
	    position: absolute;
	    display: block;
	    width: 97%;
	    height: 100%;
	    left: 30px;
	    border-bottom-left-radius: 20px;
	    transform-origin: bottom left;
	    -ms-transform: skew(-28deg,0deg);
	    -webkit-transform: skew(-28deg,0deg);
	    transform: skew(35deg,0deg);
	    /*background: #ad0b3a;*/
	    background-image: none;
		}
		border-bottom-left-radius: 86px;
		&:before {
	    content: " ";
	    position: absolute;
	    display: block;
	    width: 97%;
	    height: 100%;
	    left: 30px;
	    border-top-right-radius: 25px;
	    /*background: #ad0b3a;*/
	    transform-origin: bottom left;
	    -ms-transform: skew(-28deg,0deg);
	    -webkit-transform: skew(-28deg,0deg);
	    transform: skew(35deg,0deg);
	    background-image: none;
		}
		.img-class{
			position: absolute;
			left: 64px;
			top: 10px;
			img{
				height: 60px;
			}
		}
		.meeting-info-title{
			text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
		  font-size: 28px;
		  font-weight: bold;
		  font-style: normal;
		  font-stretch: normal;
		  line-height: 0.77;
		  letter-spacing: normal;
		  color:#fff;
		  position: absolute;
		  left:200px;
		  top: 27px;
		}
		.hyphen-class{
			position: absolute;
			top: 16px;
			right: 100px;
			color: #fff;
			hr{
				width: 23px;
				border-width: 3px;
				border-color: #fff;
			}
		}

	}
.submit-container{
	.overlay{
		position: absolute;
    display: block;
    width: 94%;
    height: 40%;
    left: -16%;
    top: -14%;
    z-index: -2;
    border-top-left-radius: 64px;
    transform-origin: bottom left;
    -ms-transform: skew(-42deg, 0deg);
    -webkit-transform: skew(-42deg, 0deg);
    transform: skew(-42deg, 0deg);
	}

	.meeting-info-label{
		font-size: 16px;
	  font-weight: normal;
	  font-style: normal;
	  font-stretch: normal;
	  line-height: 1.38;
	  letter-spacing: normal;
	  /*color: #ad0b3a;*/
	  display: inline-block;
	  margin-right: 10px;
	  /*vertical-align: -webkit-baseline-middle;*/
	}
	.meeting-info-value{
		font-size: 18px;
	  font-weight: bold;
	  font-style: normal;
	  font-stretch: normal;
	  line-height: normal;
	  letter-spacing: normal;
	  /*color: #ad0b3a;*/
	  margin-top: 5px;
	  display: inline-block;
	}
	.vtop5{
		margin-top: 5px;
		vertical-align: top;
	}
	.guest-room-section, .contact-info-row, .doc-margin-class{
		margin-left: 7%;
		margin-right: 7%;
		margin-top: 30px;
	}
	.contact-sub-title{
		width: 100%;
		border-bottom: 1px solid;
		padding-bottom: 10px;
		font-size: 18px;
	  font-weight: bold;
	  font-style: normal;
	  font-stretch: normal;
	  line-height: normal;
	  letter-spacing: normal;
	  /*color: #ad0b3a;*/
	  display: inline-block;
}
.contact-info-row{
	.meeting-info-label{
		margin-top: 20px;
		margin-right: 30px;
		width: 44%;
	}
	.meeting-info-sub-label{
		font-size: 15px;
	  font-weight: bold;
	  font-style: normal;
	  font-stretch: normal;
	  line-height: 1.38;
	  letter-spacing: normal;
	  /*color: #ad0b3a;*/
	  display: inline-block;
	  margin-right: 10px;
	}
	.event-summ-label{
		margin-top: 20px;
		font-size: 16px;
	  font-weight: bold;
	  font-style: normal;
	  font-stretch: normal;
	  line-height: 1.38;
	  letter-spacing: normal;
	  /*color: #ad0b3a;*/
	  display: inline-block;
	  margin-right: 10px;		
	}
}
	.room-info-sections{
		background: rgba(207, 208, 210, 0.17);
	}
	.del-guest-rooms{
		vertical-align: middle;
		font-size: 25px;
	}
	.info-separator{
		margin-left: 7%;
		margin-right: 7%;
		border-top: 1px solid;
	}
	.arrival-input{
		width: 55%;
	}
	.departure-input{
		width: 55%;
	}
	.arrival-departure-input {
		width: 100%;
	}
	.contact-input{
		width: 47%;
	}
	.single-room-input, .double-rooms-input{
		width: 32%;
	}
	.no-padding{
		padding-right: 0px;
		padding-left: 0px;
	}
	.add-new-period{
		margin-left: 7%;
		padding-top: 35px;
		padding-bottom: 70px;
		cursor: pointer;
		transform: scale(0.9);
		span {
			font-size: 18px;
			padding-left: 18px;
		}
	}
	.region-select-btn{
		width: 47%;
    line-height: 28px;
    text-align: left;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.21);
    background-color: #ffffff;
    border:none;

    .fa-angle-down{
    	float: right;
    	font-size: 30px;
    }
	}
	.event-summary-div{
		height: 443.5px;
	  border-radius: 16px;
	  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.11);
	  background-color: #ffffff;
	  margin-top: -180px;
	  padding: 0px 23px 10px 23px;
	  margin-bottom: 20px;
	}
	.event-summ-title{
    padding-top: 22px;
    padding-bottom: 19px;
    font-size: 28px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.77;
    letter-spacing: normal;
    border-bottom: 1px solid;
	}
	.font16{
		font-size: 16px;
	}
	.event-user-count img{
		margin-right: 10px;
		margin-top: -4px;
	}
	.event-border-class{
		border-bottom: 1px solid;
		padding-bottom: 20px;
	}
	.additional-info-div textarea{
		width: 100%;
    margin-top: 20px;
    border: 1px solid;
    background: rgba(207, 208, 210, 0.17);
    border-radius: 16px;
    padding: 20px;
	}
	#file-upload-zone {
		min-height: 224px;
    border-radius: 16px;
    border: 5px dotted;
    margin-bottom: 20px;
    z-index: 1;
    .dz-preview {
    	.dz-details {
		    font-size: 18px;
      	.dz-remove {
			    font-size: 23px;
    			padding-left: 20px;
    		}
    	}
    }
	}
	#file-upload-template {
	  display: none;
	}
	#upload-doc-section{
    .drag-upload-file {
    	position: absolute;
	    top: 40px;
	    width: 100%;
	    z-index: -1;
    }
	}
	#uploaded-doc {
		height: 224px;
    border-radius: 16px;
    border: 5px dotted;
    margin-bottom: 20px;
    z-index: 1;
    margin-left: 15px;
    margin-right: 15px;
	}
	#submit-rfp{
		border-radius: 28.4px;
    width: 158px;
    height: 56px;
    margin-left: 50px;
    border: 1px solid;
    margin-bottom: 30px;
	}
}
@media(min-width: 992px) and (max-width: 992px){
	.submit-container .single-room-input, .submit-container .double-rooms-input{
		vertical-align: top !important;
	}
}
@media(min-width: 992px) and (max-width: 1145px){
	.submit-container{
		.meeting-info-label{
			font-size: 14px;
		}
		.arrival-input{
			width: 45%;
		}
		.departure-input{
			width: 45%;
		}
	}
	.add-arrival{
		width: 23% !important;
	}
	.add-departure{
		width: 24% !important;
	}
	.add-single{
		width: 21% !important;
	}
	.add-double{
		width: 32% !important;
	}
}
@media(min-width: 992px) and (max-width: 1105px){
	.submit-container .contact-info-row .meeting-info-label{
		width: 38% !important;
	}
	.submit-container .contact-input{
		width: 51% !important;
	}
	.submit-container .region-select-btn{
		width: 51% !important;
	}
}
@media (min-width: 1145px) and (max-width: 1360px){
	.add-arrival{
		width: 23% !important;
	}
	.add-departure{
		width: 25% !important;
	}
	.add-single{
		width: 21% !important;
	}
	.add-double{
		width: 31% !important;
	}
}
@media(min-width: 768px) and(max-width: 992px){
	.meeting-info-label{
		width: 36%;
		margin-bottom: 20px;
		font-size: 14px;
	}
	.border-right{
		border-right: 1px solid;
	}
	.guest-room-section{
		margin-right: 11%;
	}
	.fix-center-rfp-additional-info{
		/*width: 100% !important;*/
		/*margin-left: 0px !important;*/
	} 
	.date-time-field{
        min-width: 196px;
	}						
}
@media(max-width: 767px){
	.width50{
		width: 50% !important;
	}
	.mob-block{
		display: block !important;
	}
	.submit-container{
		#submit-rfp{
			width: auto;
			height: 42px;
			margin-bottom: 27px;
			margin-left: 0px;
		}
		.contact-info-row{
			margin-left: 0% !important;
			.meeting-info-label{
				width: 36% !important;
				margin-right: 0px !important;
			}
		}
		.region-select-btn{
			width: 60%;
		}
		.contact-input{
			width: 60%;
		}
		.meeting-info-label{
			width: 36%;
			margin-bottom: 20px;
			font-size: 14px;
		}
		.meeting-info-title{
			font-size: 19px;
			left: 150px;
		}
		.meeting-info-value{
			font-size: 16px;
		}
		.border-right{
			border-right: 1px solid;
		}
		.guest-room-section{
			margin-right: 11%;
		}
		.delete-btn{
			position: absolute;
			top: 0px;
			right: -40px;
		}
	}
	.meeting-room-wrapper{
		.img-class {
			left:54px;
			top:18px;
			img{
				height: 39px;
			}
		}
		.meeting-info-title{
			font-size: 19px;
			left: 120px;
		}
		.hyphen-class{
			right: 25px;
		}
		}
		.styled-checkbox + label{
			padding-bottom: 20px !important;
			.check-mark-condition {
		    position: absolute;
		    left: 4px;
		    top: 21px;
		    content: '\2713';
		    position: absolute;
		    font-size: 1.3em;
		    color: #000000;
		    transition: all .2s;
		    font-family: 'Lucida Sans Unicode', 'Arial Unicode MS', Arial;
			}
		}
		.fix-center-rfp-additional-info{
			width: 100% !important;
			margin-left: 0px !important;
		} 
		.download-pdf{
			margin-top:0px !important;
			margin-left: 0px !important;
			float: left !important;
		}
		.doc-margin-class{
			margin-left: 0px !important;
			margin-right: 0px !important;
		}

}
