.hotel-brand-profile-container{
    .back-button{
		margin-top: 20px;
		margin-left: -45px;
		font-size: 15px;
		border-width: 0px;
	}
	.content-right{
        width: 80%;
	    float: right;
	    margin-left: 20px;
	    margin-right: 5%;
	}
	.main-content{
		margin-top: 20px;
    	bottom: 0;
		background-image: linear-gradient(173deg, #f0f0f0, #fafafa);
	}
	.main-content-details{
		margin-top: 20px;
    	padding-bottom:150px;
    	padding-right: 20px;
		background-image: linear-gradient(154deg, #f0f0f0, #fafafa);
	}
	.border-hotel-logo{
		border-radius: 8px;
		text-align: center;
		padding-top: 12px;
		padding-bottom: 12px;
		margin-left: 15px;
	}
	.logo-size{
		height: 67px;
	}
	.header-title{
		font-size: 28px;
	}
	.empty-profile-msg {
		text-align: center;
        padding: 62px;
	}
	.country-field {
		width: 140px;
	}
	.button-back{
		width: 120px;
        border-radius: 27px;
        padding: 12px;
	}
	.align-header{
		margin-top: 30px;
	}
	.edit-input-field{
		padding: 1px;
		padding-left: 10px;
		border-radius: 6px;
	}
	
	@media (max-width: 768px){
		.content-right{
		   margin-right: 0px;
		   width: 100%;
		}
	}
	@media (min-width: 768px) and (max-width: 992px){
		.content-right{
			margin-right: 0px;
			width: 90%;
		}
	}
	@media (min-width: 991px){
		.draw-border{
			border-bottom: 0px !important;
			border-right: 1px solid;
			border-top: 0px !important;
		    border-left: 1px solid;
	    }
	}
	@media (max-width: 991px){
		.back-button{
        	margin-left: 0px;
        }
		.header-title{
		   font-size: 18px;
	    }
	    .align-header{
	       margin-left: 20px;
	       margin-top: 30px;
	    }
	    .draw-border{
		   border-bottom: 1px solid;
		   border-top: 1px solid;
		   border-left: 0px !important;
		   border-right: 0px !important;
		   padding-top: 20px;
		   padding-bottom: 20px;
	    }
	    .align-content{
	    	padding-left: 0px;
	    }
	    .content-email{
	    	padding-top: 20px;
	    }
	}
}