.hotel-brand-list-container{
	.main-content{
    	bottom: 0;
		background: rgba(229,229,230,0.5);
	}
	.content-right{
        width: 80%;
	    float: right;
	    margin-left: 20px;
	    margin-right: 5%;
	}
	.back-button{
		margin-top: 20px;
		font-size: 15px;
		margin-left: -45px;
		border-width: 0px;
	}
	.list-event{
    	margin-bottom: 10px;
    	vertical-align: middle;
    	margin-left: 10px;
    	margin-right: 10px;
    	margin-top: 10px;
    	border: 0px solid #ffffff;
    	border-radius: 2px;
    	display: flex;
    	vertical-align: middle;
	}
	.display-contents{
	    width: 100%;
	    display: flex;    	
	    background-color: #ffffff;
    	padding: 10px 10px;
    	min-width: auto;
    	vertical-align: middle;
    	border-radius: 4px;
    	box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.11);
	}
	.border-hotel-logo{
		border-radius: 8px;
		padding-top: 5px;
		padding-bottom: 5px;
	}
	.border-search-bar{
		border-radius: 6px;
	}
	.find-text{
		width: 100%;
        outline: none;
        text-align: center;
		border: 0px;
		padding-top: 6px;
		font-size: 18px;
		padding-bottom: 6px;
	}
	input[type="text"]::placeholder{
		font-weight: bold;
	}
	.search-icon{
		margin-top: 2px;
	}
	.logo-size{
		height: 34px;
		/*width: 100%;*/
	}
	.empty-brand-msg {
		text-align: center;
	  padding-top: 60px;
	  padding-bottom: 60px;
	  background: white;
	  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.11);
	}
	.logo-hidden{
		visibility: hidden;
	}
	.disable-hotel-brand{
		opacity: 0.4;
	}
	.delete-cursor-pointer {
		cursor: pointer;
	}
	.sort-icon{
		display: inline-block;
		.transform .injected-svg{
			transform: rotate(180deg);
		}
	}

	.brand-name-text{
		margin-top: 15px;
	}
	.svg-wrapper{
		padding-left: 10px;
	}
   
    .header-title{
    	font-size: 25px;
    }
    .switch {
        position: relative;
        display: inline-block;
        width: 80px;
        height: 30px;
        max-width: none;
        margin-top: 8px;
    }

	.slider {
		position: absolute;
		cursor: pointer;
		top: 0;
		left: 0;
		right: 0;
		bottom: -3px;
		-webkit-transition: .4s;
		transition: .4s;
	}
	.slider:before {
        position: absolute;
        content: "";
        height: 27px;
        width: 27px;
        left: 6px;
        bottom: 4px;
        background-image: linear-gradient(161deg, #e4caca, #ab8787);
        -webkit-transition: .4s;
        transition: .4s;
    }

	input:checked + .slider:before {
	  -webkit-transform: translateX(45px);
	  -ms-transform: translateX(45px);
	  transform: translateX(45px);
	}

	/* Rounded sliders */
	.slider.round {
	  border-radius: 34px;
	}

	.slider.round:before {
	  border-radius: 50%;
	}
    
    @media (max-width: 768px){
    	.content-right{
		   margin-right: 0px;
		   width: 100%;
		}
    }
    @media (min-width: 768px) and (max-width: 992px){
    	.content-right{
			margin-right: 0px;
			width: 90%;
		
    	}
    }
    @media (max-width : 992px){
    	.back-button{
        	margin-left: 0px;
        }
    	.add-brand{
		   margin-top: 20px;
		   margin-left: 20px;
	    }
	    .column-header{
	       margin-left: 10px;
	       margin-top: 10px;
	    }
	    .header-title{
    	   font-size: 18px;
        }
    }
    @media (min-width: 992px){
        .add-brand{
		  margin-top: 20px;
          margin-bottom: 50px;
          margin-left: 30px;
	    }
    }
}