.meeting-room-container {
  padding: 2% 5% 0% 5%;
  padding-top: 80px;
}
.width25{
	width: 25%;
	padding-left: 0px !important;
}
.filter-container {
	padding-top: 20px;
  padding-right: 20px;
  padding-left: 6%;
	select {
	  width: 175px;
	  padding-left: 20px;
	  font-size: 14px;
	  line-height: 1;
	  border: 0;
	  height: 34px;
	  /*background: url(/dist/img/meeting_space/icons/arrow-down.svg) no-repeat #fcfcfc;*/
	  -webkit-appearance: none;
	  -moz-appearance: none;
	  background-position-x: 133px;
	  background-position-y: 12px;
	}
}
.meter-toggle{
    background: rgba(147, 149, 152, 0.19);
    width: 158px;
    height: 30px;
    border-radius: 14px;
    border-color: transparent;
    position: relative;
    border-radius: 73px;
    box-shadow: -1px -1px 2px 0 rgba(0, 0, 0, 0.17), inset 2px 2px 1px 0 rgba(0, 0, 0, 0.07);
	}
	.font-bold{
		font-weight: bold;
	}
.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}
.meter-feet-toggle{
	float: right;
	display: inline-block;
	margin-top: 25px;
	margin-bottom: 0px;
	padding-right: 6%;
}
.slider-no-background {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider-no-background .circle {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 3px;
  bottom: 3px;
border-radius: 100%;
  box-shadow: 1px 2px 3px 0 rgba(0, 0, 0, 0.5);
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider-no-background .circle {
  -webkit-transform: translateX(126px);
  -ms-transform: translateX(126px);
  transform: translateX(126px);
}
label.collision-toggle {
  border: 2px solid white;
  width: 64px;
  .circle {
  	height: 24px;
    width: 24px;
    top: 1px;
  }
  input:checked + .slider-no-background span.circle {
  	transform: translateX(31px);
  }
}
.filter-rooms {
	margin: 0px 10px;
	height: 35px;
	border: none;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.21);
}
.meeting-room-line {
	margin: 0% 5%;
  margin-top: 10px;
	margin-bottom: 120px;
}
.embed-responsive-item{
	position: absolute;
	width: 100%;
	height: 100%;
}
.meeting-room-carousel{
	.carousel{
		position: absolute;
    	width: 100%;
    	bottom: 0px;

    	.slide{
    		img{
    			height: 100vh !important;
    			object-fit: cover !important;
    		}
    	}

    	.thumb{
    		width: 119px;
    		height: 119px;
    		margin-right: 30px;
    		border:1px solid #fff;
    		border-radius: 12px;
    		box-shadow: 10px 5px 18px 0 rgba(0, 0, 0, 0.26);

    		img{
    			height: 100%;
    			object-fit: contain;
    		}
    	}
    	.thumb.selected{
    		height: 109px;
    		border:1px solid #fff;
    		vertical-align: top;
    	}
    	.thumbs-wrapper{
    		margin-left: 9%;
    		margin-right: 13%;
    	}
    	.control-prev.control-arrow{
    		left: 4%;
    	}
    	.control-arrow{
    		bottom: -200px !important;
    	}
    	.thumb.selected{
    		position: relative;
    			&:before {
			    content: "";
			    display: block;
			    width: 0; 
			    height: 0; 
			    border-top: 12px solid transparent;
			    border-bottom: 12px solid transparent;
			    border-right: 12px solid #727272; 
			    position: absolute;
			    top: 16px;
			    left: -12px;
		}

    	}
	}
}
.room-info-container {
	border-top: 13px solid transparent;
	/*height: 329px;*/
	.width25{
		width: 22%;
	}
	.width75{
		width: 78%;
	}
	.checkmark-img-selected {
		width: 33px;
    position: absolute;
    right: 3px;
    top: -1px;
    border-radius: 20px;
	}
	.room-img {
    /*height: 100%;*/
    width: 100%;
    height: 195px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-sizing: border-box;
    box-shadow: 2px 2px 20px 0 rgba(0, 0, 0, 0.18);
	}
	.people-icon {
		width: 21px;
	}
	.room-details {
		box-shadow: 2px 2px 20px 0 rgba(0, 0, 0, 0.18);
		padding-bottom: 16px;
    	background-color: #fcfcfc;
	}
	.meeting-room-info-name{
		margin-bottom: 1px;
		margin-top: 15px;
		height: 35px;
		word-break: break-word;
	}
	.room-setup-button-container {
    box-shadow: 2px 2px 20px 0 rgba(0, 0, 0, 0.18);
    background: #fcfcfc;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    button {
    	width: 100%;
    	border: none;
	    padding: 11px 20px 11px;
			.arrow {
				padding-top: 4px;
				vertical-align: top;
				margin-top: 4px;
		    transform: rotate(180deg);
			}
    }
	}
	.open-setup {
		border-radius: 0px;
		img.arrow {
			transform: none;
		}
	}
	.close-setup {
		img.arrow {
    	transform: rotate(180deg);
		}
	}
	.room-setup-config-container {
		position: absolute;
    z-index: 1;
    background: #eaeaea;
    margin-right: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.2);
	}
	.setup-image-container {
		padding: 20px;
		cursor: pointer;
		button {
			border-radius: 8px;
		}
		.button-left {
			background-color: #e9e1e1;
	    width: calc(100% + 20px);
	    border-top-right-radius: 0;
	    border-bottom-right-radius: 0;
		}
		.button-right {
			background-color: #e9e1e1;
	    width: calc(100% + 20px);
	    margin-left: -20px;
	    border-top-left-radius: 0;
	    border-bottom-left-radius: 0;
		}
		.person-image {
			padding-left: 15px;
			width: 22px;
			height: 19px;
		}
	}
	.setup-image-container-disable{
		cursor: default;
		opacity: 0.5;
	}
	button:disabled{
		cursor: default;
	}
	.setup-image {
		display: block;
		margin-left: auto;
		margin-right: auto;
		height: 38px;
		text-align: center;
		svg {
			height: 100%;
		}
	}
	.own-setup {
    text-align: center;
    padding-bottom: 25px;
    cursor: pointer;
	  img {
	    margin-top: 20px;
    }
	}
}
.show-full-image{
	position: fixed;
	width: 100%;
	top: 0px;
	left: 0px;
	z-index: 100;
  height: 100%;
  background-repeat: no-repeat;
  background-position-y: center;

    .user-action-section{
    	position: absolute;
    	width: 100%;
    	top: 0px;
    }
   
    video{
    	width: 65%;
    	position: absolute;
	    top: -100px;
	    bottom: 0;
	    left: 0;
	    right: 0;
	    margin: auto;
    }

    .full-view-btn{
      width: 211.5px;
		  height: 49.9px;
		  color: #fff;
		  float: left;
		  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
		  font-size: 24px;
		  font-weight: bold;
		  font-style: normal;
		  font-stretch: normal;
		  line-height: 0.7;
		  border-radius: 25px;
		  box-shadow: 10px 5px 18px 0 rgba(0, 0, 0, 0.26);
		  margin-top: 70px;
		  background: #ffffff7a;
		  img{
		  	margin-left: 10px;
		  }
    }
    .picture-view-btn{
    	/*width: 211.5px;*/
		  height: 49.9px;
		  color: #fff;
		  float: right;
		  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
		  font-size: 24px;
		  font-weight: bold;
		  font-style: normal;
		  font-stretch: normal;
		  line-height: 0.7;
		  border-radius: 25px;
		  box-shadow: 10px 5px 18px 0 rgba(0, 0, 0, 0.26);
		  margin-top: 70px;
		  background: #ffffff00;
		  img{
		  	margin-left: 10px;
		  }
    }
    .align-button-right{
        height: 22px;
    }
    div.react-thumbnail-generator{
    	display: none;
    }
    .play-icon{
	    width: 55px;
	    height: auto !important;
	    margin-left: -85px;
	    margin-top: 30px;
	}
	.hide-focus{
		outline: 0;
	}
	.content{
		display: flex;
	}
    .room-details-btn{
    	background-color: #eee;
	    width: 260px;
	    padding-top: 10px;
	    font-size: 16px;
	    border-bottom-left-radius: 15px;
	    border-bottom-right-radius: 15px;
	    border-top-right-radius: 0px;
	    border-top-left-radius: 0px;
	    .fa-angle-down{
	    	margin-left: 49px;
    		font-size: 35px;
    		vertical-align: top;
	    }
	    &:hover, &:active, &:focus, &:active:focus {
    		background-color: #eee;
	    }
    }
    .drag-section{
    	margin-top: 10%;
    }
    .config-3d{
    	position: absolute;
    	right: 3px;
    	bottom: 3px;
	    border-radius: 127px;
    	width: 139px;
    }
    .room-details-section{
	    /*height: 325px;*/
	    position: fixed;
	    z-index: 1000;
	    top: -1px;
	    right: 10%;
	    left: 7%;
	    width: 87%;
	    padding: 25px 70px 50px 88px;
	    /*padding: 25px 20px 16px 433px;*/
	    opacity: 0.95;
	    border-bottom-left-radius: 21px;
	    border-bottom-right-radius: 21px;
	    box-shadow: 0 -3px 9px 0 rgba(0, 0, 0, 0.16);
	    background-color: #f1f1f1;
	    .sub-head{
	      /*font-size: 14px;*/
			  font-weight: normal;
			  font-style: normal;
			  font-stretch: normal;
			  line-height: normal;
			  letter-spacing: normal;
			  text-align: center;
			  padding-bottom: 20px;
	    }
	    .lpadding0{
	    	padding-left: 0px;
	    }
	    .main-heading{
		      font-size: 22px;
			  font-weight: bold;
			  font-style: normal;
			  font-stretch: normal;
			  line-height: normal;
			  letter-spacing: normal;
			  margin-top: 30px;
	    }
	    .room-details-info{
	      font-size: 16px;
			  font-weight: normal;
			  font-style: normal;
			  font-stretch: normal;
			  line-height: 1.38;
			  letter-spacing: normal;
			  color: #0f0f0f;
			  margin-top: 20px;
			  margin-bottom: 10px;
	    }
	    .close-button {
				background: transparent;
		    border: none;
		    font-size: 25px;
		    position: absolute;
		    left: 13px;
		    top: 10px;
	    }

    }
    .room-details-column{
    	border-right: 1px solid;
    }
    .close-button {
		background: transparent;
	    border: none;
	    font-size: 25px;
	    position: absolute;
	    left: 13px;
	    z-index: 1000;
	    top: 10px;
	    color: #fff;
	    .close-icon{
	    	border: 1px solid #fff;
    		padding: 1px 9px 2px 9px;
		    background: #ffffff14;
		    border-radius: 7px;
	}
    }
    .font16{
    	font-size: 16px;
    }
    .setup-image-container{
    	max-width: 130px;
    	width: 50%;
    }
    .setup-image-container-disable{
    	max-width: 130px;
    	width: 50%;
    	cursor: default;
    	opacity: 0.5;
    }
    .setup-image{
    	display: block;
     	margin-left: auto;
     	height: 35px;
    }
}

@media(min-width: 1200px) and (max-width: 1430px){
	.meeting-room{
		width: 33.33% !important;
		/*clear: none !important;*/
	}
}

@media (max-width: 600px){
	.show-full-image{
		video{
			width: 100%;
		}
	}
}
@media (min-width: 992px) and (max-width: 1100px){
  	.show-full-image{
		.room-details-section{
		    .setup-image-container{
		      max-width: 78px;
		    }
		    .setup-image-container-disable{
              max-width: 78px;
		    }
		}
    }
}
@media (min-width: 1100px) and (max-width: 1200px){
  	.show-full-image{
		.room-details-section{
		    .setup-image-container{
		      max-width: 90px;
		    }
		    .setup-image-container-disable{
              max-width: 90px;
		    }
		}
	}
}
@media (min-width: 1200px) and (max-width: 1300px){
  	.show-full-image{
		.room-details-section{
		    .setup-image-container{
		      max-width: 100px;
		    }
		    .setup-image-container-disable{
              max-width: 100px;
		    }
		}
    }
}
@media (min-width: 1300px) and (max-width: 1400px){
  	.show-full-image{
		.room-details-section{
		    .setup-image-container{
		      max-width: 118px;
		    }
		    .setup-image-container-disable{
              max-width: 118px;
		    }
		}
	}
}

@media(min-width: 768px) and (max-width: 992px){
	.meeting-room:nth-child(3n+1){
		clear: inherit !important;
	}
	.room-info-container{
		margin-bottom: 20px !important;
		.room-img{
			object-fit: cover !important;
		}
	}
	.picture-view-btn{
		width: auto !important;
		height: 36px !important;
		font-size: 15px !important;
		margin-top: 73px !important;
		img{
			height: 19px !important;
		}
	}
	.show-full-image{
        .full-view-btn{
		    margin-top: 58px;
	    } 
	    .room-details-section{
		    .setup-image-container{
		      max-width: 75px;
		    }
		    .setup-image-container-disable{
              max-width: 75px;
		    }
		}
	}
}

@media(min-width: 768px) and (max-width: 1024px){
	.show-full-image{
		video{
			width: 70%;
		}
	}
}
@media(min-width: 993px) and (max-width: 1115px){
	.max-sqm-value{
		display: block !important;
	}
}
@media(min-width: 993px) and (max-width: 1225px){
	.max-sqft-value{
		display: block !important;
	}
}
@media(min-width: 1430px) and (max-width: 1630px){
	.max-sqft-value{
		display: block !important;
	}
}
@media(min-width: 767px) and (max-width: 778px){
	.filter-container{
		padding-left: 4%;
	}
}
@media(max-width: 767px){
	.show-full-image .room-details-section .sub-head{
		text-align: left !important;
		padding-bottom: 0px !important;
	}
	.setup-image-container{
		width: 50%;
	}
	.room-info-container{
		height: auto !important;
	}
	.meter-feet-toggle{
		float: none !important;
		margin-left: 20px !important;
	}
	.filter-container{
		float: none !important;
		padding-right: 0px !important;
		padding-left: 0px !important;
		.type-setup{
			width: 45% !important;
			margin-bottom: 10px !important;
			font-size: 13px !important;
			background-position-x:right !important;
			border-right: 11px solid #fff !important;
		}
		.capacity-select{
			width: 43% !important;
			margin-bottom: 10px !important;
			font-size: 13px !important;
			background-position-x:right !important;
			border-right: 11px solid #fff !important;
		}
	}
	.room-details-btn{
		width: 230px !important;
		font-size: 14px !important;
		/*margin-top: 4px !important;*/
		img{
			height: 36px !important;
		}
		.fa-angle-down{
			margin-left: 30px !important;
			font-size: 35px !important;
		}
	}
	.full-view{
		.picture-view-btn{
			bottom: 8% !important;
		}
		.full-view-btn{
			bottom: 16% !important;
		}
		.config-3d{
			bottom: 9% !important;
		}
	}
	.picture-view{
		.picture-view-btn{
			bottom: 25% !important;
		}
		.full-view-btn{
			bottom: 30% !important;
		}
		.config-3d{
			bottom: 25% !important;
		}
	}
	.show-full-image{
		height: 89% !important;
		.close-button{
			top:2px;
			left: 0px;
			font-size: 19px;
		}
		.room-details-section{
			height: auto;
			max-height: 413px !important;
			overflow-y: auto !important;
			padding:25px 0px 16px 12px;
			.setup-image-container{
	            min-width: 45px;
	            margin-left: 0px;
		    }
		    .setup-image-container-disable{
	            min-width: 45px;
	            width: 50%;
	            margin-left: 0px;
		    }
		}
		video{
			top: 60px;
			bottom: auto;
		}
		.play-icon{
			width: 35px;
			margin-top: 57px;
			margin-left: -65px;
		}
		.config-3d{
			bottom: 10%;
			width: 99px;
		}
		.full-view-btn{
			width: auto;
			height: auto;
			position: absolute;
			text-shadow: none;
			border-radius: 0px;
			box-shadow: none;
			background: transparent;
			bottom: 17%;
			border:none;
			font-size: 14px;
		}
		.room-details-section{
			height: auto !important;
			max-height: 413px !important;
			overflow-y: auto !important;
			.main-heading{
				font-size: 16px;
			}
			.room-details-info{
				font-size: 14px;
				margin-bottom: 0px;
				margin-top: 10px;
			}
			.close-button{
				left: auto;
				right: 10px !important;
			}
		}
		.picture-view-btn{
			width: auto;
			height: auto;
			position: absolute;
			text-shadow: none;
			border-radius: 0px;
			box-shadow: none;
			background: transparent;
            bottom: 10%;
			border:none;
			font-size: 14px;
			margin-top: 20px;
		}
		.align-image{
			width: 30px;
		}
	}
	.room-img{
			object-fit: cover !important;
		}
	.carousel{
		.slider .selected{
			height: 100vh !important;
			img{
				height: 100% !important;
				object-fit: cover !important;
			}
		}
	}
	.meeting-room-carousel .carousel .thumb {
		width: 100px;
		height: 100px;
	}
	.meeting-room-carousel .carousel .thumb.selected {
		height: 92px;
	}
	.carousel .thumbs-wrapper {
		margin-bottom: 0px !important;
	}
}
/* Alignment with Sidebar */
@media(min-width: 768px) and (max-width: 992px){
	.align-content-right{
		.value-area{
			min-width: 170px;
		}
	}
}
@media (min-width: 993px) and (max-width: 1200px){
	.align-content-right{
		.value-area{
			min-width: 144px;
		}
	}
}
@media(min-width: 1200px) and (max-width: 1430px){
	.align-content-right{
		.value-area{
			min-width: 150px;
		}
	}
}
@media(min-width: 1430px) and (max-width: 1630px){
	.align-content-right{
		.value-area{
			min-width: 120px;
		}
	}
}