
.rfp-label{
	max-width: 1415px!important;
	/* margin-left: 10% !important; */
	transform: translateX(-62px);
}
@media (max-width: 1500px) {
	.rfp-label{
		max-width: 100% !important;
		/* margin-left: 6% !important; */
		transform: translateX(0px);
	}
}

.rfp-confirmation-msg {
  max-width: 1415px !important;
  padding: 10px;
  div {
  	p:first-child {
			font-size: 28px;
  	}
  }
  .share-downld-btns {
  	padding-top: 20px;
  	.share-btn {
  		border: 1px solid;
	    padding: 4px 26px;
	    border-radius: 20px;
  		img {
  			width: 23px;
  		}
  	}
  	.downld-btn {
  		img {
  			width: 30px;
  		}
  	}
  }
}

.meeting-room-list-container {
	background: rgba(207, 208, 210, 0.17);
	.event-type-select{
		.fa-angle-down{
			font-size: 24px;
			vertical-align: top;
			margin-top: -2px;
		}
	}
	button.edit-btn {
    color: #fcfcfc;
	}
	.react-bootstrap-daterangepicker-container{
		button{
			height: 34px;
		}
	}
	.hour-class{
		vertical-align: top;
		margin-top: 7px;
	}
	.selected-meeting-room-list {
		margin: 15px auto;
		max-width: 1280px;
	  .table-responsive{
	  	overflow-x: initial;
	  }
	}
	.border-simulator{
		height: 43px;
		top: 7px;
		left: 9px;
		position: absolute;
		svg {
			height: 100%;
			width: auto;
		}
	}
	.clone-btn{
		color: inherit;
		img{
			width: 23px;
		}
	}
	.delete-btn {
		color: inherit;
	}

	@media (max-width: 1500px) {
		.selected-meeting-room-list {
			margin: 15px auto;
			max-width: 1190px;
		}
	}
	.rdt{
		display: inline-block;
		margin-left: 1%;
		margin-right: 1%;
		text-align: center;
		width: 60px;
		vertical-align: top;
		input.form-control{
			color: inherit;
			border:none;
			text-align: center;
			border-radius: 8px;
			padding-left: 1px;
    	padding-right: 0px;
			box-shadow: inset 0px 1px 1px 1.5px rgba(0, 0, 0, 0.075);
		}
	}
	.rdt.red-border {
		border: 2px solid red;
		border-radius: 8px;
	}
	.table {
		margin-bottom: 0px;
		.btn-default {
			border: 0;
		}
		.clone-btn {
			border: 1px solid;
	    border-radius: 20px;
	    padding: 6px 30px;
		}
		.meeting-room-name {
	    /*border-left: 6px solid;*/
	    width: 100%;
	    padding: 10px;
	    border-radius: 3px;
	    font-weight: bold;
	    font-size: 16px;
		}
		.meeting-list-col {
	    /*width: 100%;*/
	    padding: 10px;
		}
		thead tr {
			td {
				opacity: 0.36;
		    font-size: 12px;
		    line-height: 2;
			}
		}
		tbody tr {
		  border-radius: 4px;
	    /*background: rgba(255, 255, 255, 0.75);*/
			td {
				border: 0;
				vertical-align: middle;
				.edit-btn {
			    border-radius: 20px;
			    height: 37px;
			    img{
			    	height: 31px;
			    	vertical-align: top;
			    	margin-top: -4px;
			    }
				}
				button.edit-btn:disabled {
					cursor: default;
				}
				.delete-btn{
					border-left: 1px solid;
					border-radius: 0px;
					color: inherit;
					img{
						width: 19px;
					}
				}
			}
			.date-time-field {
				min-width: 182px;
			}
			td.room-setup-dropdown {
				select {
					height: 30px;
			    background: #fcfcfc;
				}
			}
		}
		tbody tr.selected-room-list {
		  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.11);
			td.event-name {
		    min-width: 195px;
			}
		}
		tbody tr {
			td.event-name {
		    min-width: 195px;
			}
		}
		tbody tr {
			td.event-name {
				button {
					span.svg-wrapper {
						span svg {
  			    	transform: none;
						}
		    	}
		    	span.svg-wrapper.transform {
		    		span svg {
			    		transform: rotate(180deg);
		    		}
		    	}
				}
			}
		}
		.event {
	    border: none;
	    height: 34px;
	    border-radius: 8px;
	    background-color: #ffffff;
	    font-weight: bold;
	  }
	  .name {
	  	max-width: 134px;
	  	text-align: center;
	  	box-shadow: inset 0px 1px 1px 1.5px rgba(0, 0, 0, 0.075);
	  }
	  .date {
	    width: 133px;
	  }
	  .time {
	  	width: 142px;
	  }
	  .count {
	  	width: 87px;
	  	text-align: center;
	  	box-shadow: inset 0px 1px 1px 1.5px rgba(0, 0, 0, 0.075);
	  	font-weight: normal;
	  	color: inherit;
	  }
	  input.event::placeholder {
	  	text-align: center;
	  	font-weight: normal !important;
	  }
		.no-meeting-room {
			tr {
		    border-radius: 4px;
		    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.11);
		    background: rgba(255, 255, 255, 0.39);
		    td {
		    	color: #0f0f0f;
	  	    opacity: 0.51;
		    }
			}
		}
		.service-col {
			/*background: #f4f4f4;*/
			padding: 0px;
		}
		.add-activity {
			text-align: left;
	    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.11);
	    border-bottom-left-radius: 20px;
	    border-bottom-right-radius: 20px;
		}
		.addon-header {
	    	width: 100%;
	    	position: absolute;
	    	bottom: -7px;
	    	left: 0px;
	    	/*line-height: 142px;*/
	    	padding-left: 15px;
	    	background:#f4f4f4;
	    	span{
	    		display: inline-block;
	    		vertical-align: top;
	    		margin-top: -150px;
	    	}
		}
		.apply-bg{
			background:#f4f4f4;
			padding: 0px;
		}
		.bblRadius{
			border-bottom-left-radius: 10px;
		}
		.service-container {
			display: inline-block;
			background:#f4f4f4;
			width: 100%;
			margin-left: -50px;
			margin-bottom: -6px;
	    border-radius: 0;
	    border-bottom-right-radius: 10px;
	    box-shadow: none;
			.services {
		    display: inline-block;
		    width: 16%;
		    margin: 20px 29px;
		    padding: 52px 0px;
		    font-weight: bold;
		    font-size: 18px;
		    border: 1px solid;
		    border-radius: 7.5px;
		    cursor: pointer;
		    position: relative;
		    .checkmark-img-selected {
		    	width: 33px;
			    position: absolute;
			    right: -10px;
			    top: -13px;
			    border-radius: 20px;
		    }
			}
			.services-unavailable{
				display: inline-block;
				margin: 20px 29px;
			    padding: 100px 0px;
			    font-weight: bold;
			    font-size: 18px;
			    position: relative;
		        width: 100%;
			}
		}
	}
}
@media (max-width: 1080px){
	.meeting-room-list-container{
		.selected-meeting-room-list{
			.rdt{
				width: 41%;
			}
		}
	}
}
@media (min-width: 1080px) and (max-width: 1200px){
	.meeting-room-list-container{
		.selected-meeting-room-list{
			.rdt{
				width: 33%;
			}
		}
	}
}
@media(max-width: 767px){
	.selected-meeting-room-list {
		margin: 15px auto;
		max-width: 1280px;
	  .table-responsive{
	  	overflow-x: hidden !important;
	  }
	}
	.bmargin10mob{
		margin-bottom: 10px !important;
	}
	.alert-confirmation-popup .modal-content .modal-body .modal-action-btns .ok-right{
		margin-right: -185px !important;
	}
	.no-meeting-room{
		font-size: 13px !important;
	}
	.meeting-room-name{
		text-align: left !important;
		margin-top: 7px !important;
		margin-left: 20px !important;
	}
	.event-name{
		text-align: left!important;
		margin-left: 20px !important;
		margin-top: 22px !important;
		margin-bottom: -8px;
		.transform {
			margin-left:-10px !important;
		}
	}
	.activity-toggle{
		float: right;
		margin-top: 10px;
		margin-right: 10px;
	}
	.activity-separator{
		border-top: 1px solid;
		margin-left: 20px;
		margin-right: 20px;
	}
	.date-time-field{
		margin-left: 20px;
		margin-bottom: 10px;
		text-align: left;
	}
	.attendee-count{
		text-align: left;
		float: left;
		width: 100px;
		margin-left: 20px;
		input{
			width: 70%;
		}
	}
	.room-setup{
		float: left;
		width: 50%;
		text-align: left;
		margin-top: 2px;
		select {
			height: 32px;
			background: #fcfcfc;
		}
	}
	.edit-btn {
	    border-radius: 20px;
	    height: 32px;
	    img{
	    	height: 24px;
	    	vertical-align: top;
	    	margin-top: -4px;
	    }
	    .icon-3d{
	    	vertical-align: top !important;
	    	display: inline-block !important;
	    	margin-top: -3px !important;
	    }
		}
		.delete-btn{
			border-left: 1px solid;
			border-radius: 0px;
			img{
				width: 15px;
				vertical-align: top;
			}
	}
	.clone-btn{
		padding:3px 14px !important;
		img{
			width: 23px !important;
		}
	}
	.alert-confirmation-popup .modal-content{
		width: 96% !important;
		margin:4% auto !important;
	}
	.alert-confirmation-popup .modal-dialog{
		width: 100% !important;
		margin:0 auto !important;
	}
	.service-container{
		background:transparent !important;
		margin-left: 0px !important;
		width: 100% !important;
		.services{
			display: block !important;
			width: 100% !important;
			margin:20px 0px !important;
			padding:38px 0px !important;
		}
		.services-unavailable{
			display: block !important;
			width: 100% !important;
			padding: 22px !important;
			margin: 20px 29px !important;
		}
	}
	.service-title{
		color: #4a4a4a;
		font-size: 14px;
	}
	.hor-line{
		border-top: 1px solid;
	}
}

@media(min-width: 992px) and (max-width: 1145px){
	.selected-meeting-room-list tbody tr td{
		padding-left: 1px !important;
		padding-right: 0px !important;
		padding-top: 8px !important;
		padding-bottom: 8px !important;
	}
	.meeting-room-list-container .table tbody tr.selected-room-list td.event-name, .meeting-room-list-container .table tbody tr td.event-name{
		min-width: 173px;
	}
	.meeting-room-list-container .table tbody tr td.event-name{
		position: relative !important;
	}
	.react-bootstrap-daterangepicker-container button{
		padding: 6px 6px !important;
	}
	.meeting-room-list-container .table .clone-btn{
		padding: 6px 16px !important;
		/*margin-left: -10px !important;*/
	}
	.meeting-room-list-container .table tbody tr td .edit-btn{
		padding: 6px 6px !important;
		/*margin-left: -10px !important;*/
	}
	.meeting-room-list-container .table .meeting-room-name{
		padding-left: 7px !important;
		padding-right: 0px !important;
		font-size: 14px !important;
	}
	.meeting-room-list-container .border-simulator{
		left: 2px !important;
	}
	.rfp-specific{
		left: -35px !important;
		top:26px !important;
	}
	.meeting-room-list-container .table .name {
		max-width: 127px;
	}
	.meeting-room-list-container .table tbody tr .date-time-field{
		min-width: 177px !important;
		float: none !important;
	}
}

@media (min-width: 1145px){
	.selected-meeting-room-list tbody tr td{
		padding-left: 1px !important;
		padding-right: 0px !important;
		padding-top: 8px !important;
		padding-bottom: 8px !important;
	}
	.meeting-room-list-container .table tbody tr.selected-room-list td.event-name, .meeting-room-list-container .table tbody tr td.event-name{
		min-width: 195px;
	}
	.meeting-room-list-container .table tbody tr td.event-name{
		position: relative !important;
	}
	.meeting-room-list-container .table tbody tr .date-time-field{
		min-width: 168px !important;
		float: none !important;
	}
	.meeting-room-list-container .table .meeting-room-name{
		padding-left: 7px !important;
		padding-right: 0px !important;
		font-size: 14px !important;
	}
}

@media(min-width: 768px) and (max-width: 992px){
	.selected-meeting-room-list {
		margin: 15px auto;
		max-width: 1280px;
	  .table-responsive{
	  	/*overflow-x: hidden !important;*/
	  }
	}
	.bmargin10mob{
		margin-bottom: 10px !important;
	}
	.no-meeting-room{
		font-size: 13px !important;
	}
	.meeting-room-name{
		text-align: left !important;
		margin-top: 7px !important;
		margin-left: 20px !important;
	}
	.event-name{
		text-align: left!important;
		margin-left: 20px !important;
		margin-top: 22px !important;
		margin-bottom: -8px;
	}
	.activity-toggle{
		float: right;
		margin-top: 10px;
		margin-right: 10px;
	}
	.activity-separator{
		border-top: 1px solid;
		margin-left: 20px;
		margin-right: 20px;
	}
	.date-time-field{
		margin-left: 20px;
		margin-bottom: 10px;
		text-align: left;
		float: left !important;
		width: 22% !important;
	}
	.attendee-count{
		text-align: left;
		float: left;
		width: 100px;
		margin-left: 2%;
		input{
			width: 70%;
		}
	}
	.room-setup{
		float: left;
		/*width: 50%;*/
		text-align: left;
		margin-top: 2px;
		margin-left: 2%;
		select {
			height: 30px;
			background: #fcfcfc;
		}
	}
	.edit-btn {
	    border-radius: 20px;
	    height: 32px;
	    img{
	    	height: 24px;
	    	vertical-align: top;
	    	margin-top: -4px;
	    }
	    .icon-3d{
	    	vertical-align: top !important;
	    	display: inline-block !important;
	    	margin-top: -3px !important;
	    }
		}
		.delete-btn{
			border-left: 1px solid;
			border-radius: 0px;
			img{
				width: 15px;
				vertical-align: top;
			}
	}
	.clone-btn{
		padding:3px 14px !important;
		img{
			width: 17px !important;
		}
	}
	.alert-confirmation-popup .modal-content{
		width: 96% !important;
		/*max-width: 96% !important;*/
		margin:4% auto !important;
	}
	.alert-confirmation-popup .modal-dialog{
		width: 100% !important;
	}
	.service-container{
		background:transparent !important;
		margin-left: 0px !important;
		width: 100% !important;
		.services{
			display: block !important;
			width: 100% !important;
			margin:20px 0px !important;
			padding:38px 0px !important;
		}
		.services-unavailable{
			display: block !important;
			width: 100% !important;
			padding: 22px !important;
			margin: 20px 29px !important;
		}
	}
	.service-title{
		color: #4a4a4a;
		font-size: 14px;
	}
	.hor-line{
		border-top: 1px solid;
	}
	.meeting-room-list-container .table .date-time-field{
	    min-width: 197px !important;
	}
}
/* Alignment with Sidebar */

@media (min-width: 1500px){
    .align-content-right{
    	.selected-meeting-room-list-loggedIn {
			margin: 15px auto;
			max-width: 1280px;
        }
    }
}
@media (min-width: 992px) and (max-width: 1145px){
	.align-content-right{
		.meeting-room-list-container .table .input-field-length {
			width: 110px !important;
		}
		.meeting-room-list-container .rdt {
			width: 42px !important;
		} 
		.meeting-room-list-container .align-hour-class{
			width: 6%;
		}
		.meeting-room-list-container .table tbody tr td.align-event-name{
		    min-width: 156px !important;
	    }
	    .meeting-room-list-container .table tbody tr td.align-event-date{
		    min-width: 131px !important;
	    }
	    .meeting-room-list-container .table tbody tr td.align-count{
		    min-width: 20px !important;
	    }
	    .meeting-room-list-container .table tbody tr td.align-rfp-container-event-name{
			width: 156px !important;
		}
		.meeting-room-list-container .table .align-rfp-container-input-field-length {
		    width: 110px !important;
		}
	}
}
@media (min-width: 992px) and (max-width: 1150px){
	.align-content-right{
        .meeting-room-list-container .table tbody tr td .edit-btn-submit-rfp {
	    	width: 160px;
			border-radius: 32px;
			height: 48px;
			word-wrap: break-word;
			white-space: inherit;
	    }
	}
}
@media (min-width: 768px) and (max-width: 992px){
	.align-content-right{
		.meeting-room-list-container .table .date-time-field{
		    min-width: 197px !important;
	    }
	}
}
@media (min-width: 992px) and (max-width: 1330px){
    .align-content-right{
    	.meeting-room-list-container .table .date-time-field .align-date {
			width: 77px !important;
			padding-left: 0px !important;
		}
    }
}
@media (min-width: 992px) and (max-width: 1200px){
	.align-content-right{
		.meeting-room-list-container .table .count{
		    width: 64px !important;
	    }
	    .meeting-room-list-container .table .align-meeting-room-name {
	    	padding-left: 9px !important;
	    }
	}
}
@media (min-width: 1145px){
	.align-content-right{
		.meeting-room-list-container .table tbody tr td.align-event-name{
		    min-width: 180px !important;
	    }
	    .meeting-room-list-container .table .align-meeting-room-name {
	    	padding-left: 15px !important;
	    }
	    #rfp-confirmation-msg-container{
            .meeting-room-list-container .table tbody tr td.align-event-name{
		       min-width: 150px !important;
	        }
	        .meeting-room-list-container .table .input-field-length {
			   width: 104px !important;
		    }
	    }
	}
}