.login-page-container{
	@media (max-width: 480px){
		.mask-down{
			width: 86%;
		    height: 260px;
		    margin: 0px 0 0 -95px;
		    -webkit-transform: skew(-30deg);
		    -moz-transform: skew(-30deg);
		    -ms-transform: skew(-30deg);
		    -o-transform: skew(-30deg);
		    border-bottom-right-radius: 50px;
			float: left;
			background: #24e8b6;
	    }
	    .mask-right-no-corner-radius{
	    	width: 47%;
            height: 22px;
            margin: 0px 0px 0px 70px;
	    }
	    .mask-right{
	    	width: 47%;
            height: 50px;
            margin: 0px 0px 0px 58px;
	    }
	    .main-content{
	    	width: 325px;
            margin-left: 20px;
	    }
	    .column-header{
	    	margin-left:5px;
	    }
	    .arrow-visible{
	    	display: none;
	    }
	    .text-wrap{
	    	display: inline;
	    }
	    .button-send-email{
		   width: 150px;
		}
		.input-field-style{ 
		   opacity: 0.95;
		   box-shadow: 8px 6px 17px 0 rgba(0, 0, 0, 0.04);
		}
	}
	@media (min-width: 480px) and (max-width: 768px){
	    .mask-down{
			width: 75%;
		    height: 280px;
		    margin: 0px 0 0 -95px;
		    -webkit-transform: skew(-30deg);
		    -moz-transform: skew(-30deg);
		    -ms-transform: skew(-30deg);
		    -o-transform: skew(-30deg);
		    border-bottom-right-radius: 50px;
			float: left;
			background: #24e8b6;
	    }
	    .mask-right-no-corner-radius{
	    	width: 47%;
            height: 22px;
            margin: 0px 0px 0px 70px;
	    }
	    .mask-right{
	    	width: 47%;
            height: 65px;
            margin: 0px 0px 0px 58px;
	    }
	    .main-content{
	    	width: 400px;
	    	margin-left: 70px;
	    }
	    .column-header{
	    	margin-left: 45px;
	    }
	    .input-field-style{ 
		   opacity: 0.95;
		   box-shadow: 8px 6px 17px 0 rgba(0, 0, 0, 0.04);
		}
	}
	 @media (min-width: 768px) and (max-width: 992px){
    	.mask-down{
			width: 65%;
		    height: 280px;
		    margin: 0px 0 0 -95px;
		    -webkit-transform: skew(-30deg);
		    -moz-transform: skew(-30deg);
		    -ms-transform: skew(-30deg);
		    -o-transform: skew(-30deg);
		    border-bottom-right-radius: 50px;
			float: left;
			background: #24e8b6;
	    }
	    .mask-right-no-corner-radius{
	    	width: 47%;
            height: 22px;
            margin: 0px 0px 0px 70px;
	    }
	    .mask-right{
	    	width: 47%;
            height: 65px;
            margin: 0px 0px 0px 58px;
	    }
	    .main-content{
	    	margin-left: 80px;
	    }
	    .column-header{
	    	margin-left: 65px;
	    }
	    .input-field-style{ 
		   opacity: 0.95;
           box-shadow: 8px 6px 17px 0 rgba(0, 0, 0, 0.04);
		}
    }
    @media (min-width: 992px) and (max-width: 1200px){
    	.main-content{
    		width: 425px;
    	}
    }
} 
.reset-password-container{
	@media (max-width: 480px){ 
		.button-send-email{
		   width: 150px;
		}
	}
}
.reset-password-sent-container{
	@media (max-width: 480px){
		.mask{
			height: 115px;
		}
		.mask-down{
			height: 200px;
		}
		.mask-right-no-corner-radius{
			width: 44%;
            height: 47px;
            margin: 0px 0px 0px 56px;
		}
		.mask-right{
			width: 25%;
            height: 48px;
            margin: 0px 0px 0px 42px;
		}
		.margin-header{
			margin-top: 30px;
		}
		.button-got-it{
			width: 100%;
		}
		.content-align-bottom{
		    margin-top: 150px;
	    }
	}
	@media (min-width: 480px) and (max-width: 1200px){
		.content-align-bottom{
		    margin-top: 220px;
	    }
	}
	@media (min-width: 992px) and (max-width: 1200px){
    	.main-content{
    		width: 465px;
    	}
    }
}